{
  "drive_folder": "https://drive.google.com/drive/folders/1FEAvRAbaxEgoSY-eJnY-jT6S2bkTXKRR",
  "featured_patterns": [
    "48 Sele",
    "Legends",
    "Escudos",
    "Neymar",
    "Mc Donalds"
  ],
  "items": []
}
