{
    "home_layout": "full",
    "home_title": "Figurinhas da Copa",
    "home_message": "Bem-vindo à Comunidade Figurinhas da Copa.\n\nAcompanhe novidades sobre figurinhas e a Copa do Mundo 2026.",
    "home_video_url": "https://www.youtube.com/watch?v=yskrod-EXeQ",
    "members_enabled": true,
    "updated_at": 0
}
